<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NodeJS Basic 2024</title>

    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="wrapper-header">
      <div class="box-branch">
        <div class="logo-header">
          <img class="image-logo" src="/image/logo.png" alt="Header" />
        </div>
        <div class="text-branch">Ninedev</div>
      </div>
      <div class="box-nav">
        <div class="nav-link active">Home</div>
        <div class="nav-link">Create</div>
      </div>
    </div>
    <div class="wrapper-body">
      <div class="box-items">
        <div class="group-image">
          <img
            class="image-main"
            src="https://www.outbacksylt.com/files/image/id/29692/fixed/1/w/1000/h/1000/n/adidas-samba-og-white-b75806-1.jpg"
            alt="Ninedev"
          />
        </div>
        <div class="group-content">
          <div class="text-main">Adidas Samba OG Shoes</div>
          <div class="text-sub">2.000.000 VND</div>
        </div>
      </div>
      <div class="box-items">
        <div class="group-image">
          <img
            class="image-main"
            src="https://www.glab.vn/storage/products/2023/05/12/645e09068edaf.jpg"
            alt="Ninedev"
          />
        </div>
        <div class="group-content">
          <div class="text-main">Nike Jordan 1</div>
          <div class="text-sub">2.000.000 VND</div>
        </div>
      </div>
      <div class="box-items">
        <div class="group-image">
          <img
            class="image-main"
            src="https://bizweb.dktcdn.net/thumb/1024x1024/100/413/335/products/duyetfashion-nike-dunk-low-black-white-dd1391-100-dd1503-101-duyet-fashion-8-jpeg-1feca183-0585-412a-ae79-6bb72eebd04a-616ff778-ef3e-4fde-85bd-6988122fa5fc.jpg?v=1654677561477"
            alt="Ninedev"
          />
        </div>
        <div class="group-content">
          <div class="text-main">Nike Dunk</div>
          <div class="text-sub">2.500.000 VND</div>
        </div>
      </div>
      <div class="box-items">
        <div class="group-image">
          <img
            class="image-main"
            src="https://bizweb.dktcdn.net/thumb/1024x1024/100/427/393/products/img-9250.jpg"
            alt="Ninedev"
          />
        </div>
        <div class="group-content">
          <div class="text-main">Nike Blazer</div>
          <div class="text-sub">1.500.000 VND</div>
        </div>
      </div>
    </div>
  </body>
</html>
