<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product Create</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="wrapper-header">
      <div class="box-branch">
        <div class="logo-header">
          <img class="image-logo" src="/image/logo.png" alt="Header" />
        </div>
        <div class="text-branch">Ninedev</div>
      </div>
      <div class="box-nav">
        <div class="nav-link" onclick="window.location.href = '/products/'">Home</div>
        <div class="nav-link active">Create</div>
      </div>
    </div>
    <div class="wrapper-body">
      <div>
        <input type="text" placeholder="Enter your name product" />
      </div>
      <div>
        <input type="text" placeholder="Enter your price product" />
      </div>
      <div>
        <input type="text" placeholder="Enter your image product" />
      </div>
      <div>
        <button>Submit</button>
      </div>
    </div>
  </body>
</html>
